Source: ludevit
Section: text
Priority: optional
Maintainer: Radovan Garabík <garabik@kassiopeia.juls.savba.sk>
Build-Depends: debhelper (>=9), python3, dh-python
Standards-Version: 4.4.0

Package: ludevit
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python3-tk
Description: converter from standard Slovak into the L. Štúr version
 ludevít is a filter that does a full text translation of plain text
 from modern Slovak into the Ludevít Štúr version.
